{% load leaflet_tags %}
{% load geojson_tags %}
{% load i18n %}

<script type="text/javascript">
  function onEachFeature(feature, layer) {
    if (feature.properties && feature.properties.popupContent) {
      layer.bindPopup(feature.properties.popupContent, {minWidth: 256});
    }
  }
  function map_init(map, options) {
    {% include "djeotree/includes/base_maps.html" %}

    let collection = {{ element|geojsonfeature:"popupContent"|safe }};
    let marker = L.geoJson(collection, {onEachFeature: onEachFeature});
    marker.addTo(map);
    console.log(collection)
    map.setView(
      [collection.features[0].geometry.coordinates[1],
        collection.features[0].geometry.coordinates[0]],
      15
    );
  }
</script>
<div class="row">
  <div class="col" style="margin-bottom: 15px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          {% trans "Element"%}: {{ element }}
        </h4>
      </div>
      <div class="card-body">
        <ul>
          <li>{% trans "Author"%}:
            <a href="{% url 'geotree:author_list' username=author %}">
              {{ author.username }}
            </a>
          </li>
          <li>{% trans "Family"%}:
            <a href="{% url 'geotree:family_list' username=author pk=family.id %}">
              {{ family.title }}
            </a>
          </li>
        </ul>
        {% if element.element_value.all %}
          <h5>{% trans "Tags"%}:</h5>
          <ul>
            {% for value in element.element_value.all %}
              <li>{{ value.tag.title }}: {{ value.value }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>{% trans "No tags yet" %}</p>
        {% endif %}

      </div>
    </div>
  </div>
  <div class="col col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    {% leaflet_map "mymap" callback="window.map_init" %}
  </div>
</div>
