{% load leaflet_tags %}
{% load geojson_tags %}
{% load i18n %}

<script type="text/javascript">
  function onEachFeature(feature, layer) {
    if (feature.properties && feature.properties.popupContent) {
      layer.bindPopup(feature.properties.popupContent.content, {minWidth: 256});
    }
  }
  function map_init(map, options) {
    const base_map = L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      {
        attribution: '',
        maxZoom: 19,
      }).addTo(map);

    const sat_map = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}",
      {
        attribution: 'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 19,
        tileSize: 512,
        zoomOffset: -1,
        id: "mapbox/satellite-v9",
        accessToken: "{{ mapbox_token }}"
      });

    const baseMaps = {
      "Base": base_map,
      "Satellite": sat_map
    };
    L.control.layers(baseMaps).addTo(map);
    let collection = {{ element|geojsonfeature:"popupContent"|safe }};
    let marker = L.geoJson(collection, {onEachFeature: onEachFeature});
    marker.addTo(map);
    console.log(collection)
    map.setView(
      [collection.features[0].geometry.coordinates[1],
        collection.features[0].geometry.coordinates[0]],
      19
    );
  }
</script>
<div class="row">
  <div class="col" style="margin-bottom: 20px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          {% trans "Element"%}: {{ element }}
        </h4>
      </div>
      <div class="card-body">
        <p>{{ element.intro }}</p>
        <ul>
          <li>{% trans "Author"%}:
            <a href="{% url 'geotree:author_detail' username=author.username %}">
              {{ author.username }}
            </a>
          </li>
          <li>{% trans "Family"%}:
            <a href="{% url 'geotree:family_detail' pk=family.id %}">
              {{ family.title }}
            </a>
          </li>
          <li>
            <a href="{% url 'geotree:day_detail' year=element.date.year month=element.date.month day=element.date.day %}">
              {{ element.date|date:"Y M d"}}
            </a>
          </li>
        </ul>
        {% if element.element_value.all %}
          <h5>{% trans "Tags"%}:</h5>
          <ul>
            {% for value in element.element_value.all %}
              <li>
                <a href="{% url 'geotree:tag_detail' pk=value.tag.id %}">
                  {{ value.tag.title }}
                </a>: {{ value.value }}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>{% trans "No tags yet" %}</p>
        {% endif %}
      </div>
      {% if user == author %}
        <div class="card-footer">
          <a href="/admin/djeotree/element/{{ element.id }}/change/">{% trans "Modify" %}</a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" style="margin-bottom: 20px">
    {% if images %}
      {% include 'djeotree/includes/gallery.html' %}
    {% else %}
      <p>{% trans "No images yet" %}</p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    {% leaflet_map "mymap" callback="window.map_init" %}
  </div>
  <div class="col">
    <div class="card" style="min-height: 600px">
      <div class="card-body">
        {{ element.body|safe }}
      </div>
    </div>
  </div>
</div>
