{% load leaflet_tags %}
{% load geojson_tags %}

<script type="text/javascript">
  const collection = {{ elements|geojsonfeature:"popupContent"|safe }};
  function onEachFeature(feature, layer) {
    if (feature.properties && feature.properties.popupContent) {
      layer.bindPopup(feature.properties.popupContent, {minWidth: 256});
    }
  }
  function map_init(map, options) {
    let markers = L.geoJson(collection, {onEachFeature: onEachFeature});
    markers.addTo(map);
    map.fitBounds(markers.getBounds(), {padding: [50,50]});
  }
</script>
<div class="row" style="margin-bottom: 15px">
  <div class="col col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    {% leaflet_map "mymap" callback="window.map_init" %}
  </div>
</div>
