{% load leaflet_tags %}
{% load i18n %}

{% include "djeotree/includes/element_script.html" %}
<div class="row" style="margin-bottom: 15px">
  <div class="col col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    {% leaflet_map "mymap" callback="window.map_init" %}
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{% trans "Authors"%}</h4>
      </div>
      <div class="card-body">
        {% if authors %}
          <ul>
            {% for author in authors %}
              <li><a href="{% url 'geotree:author_list' username=author %}">{{ author }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          <p>{% trans "No authors yet" %}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
