{% load leaflet_tags %}
{% load i18n %}

{% include "djeotree/includes/element_script.html" %}
<div class="row">
  <div class="col" style="margin-bottom: 15px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{% trans "Author"%}: {{ author.username }}</h4>
      </div>
      <div class="card-body">
        {% if families %}
          {% for family in families %}
            {% for item, info in family %}
              {% if info.open %}
                <ul><li>
              {% else %}
                </li><li>
              {% endif %}
              <a href="{% url 'geotree:family_list' username=author pk=item.id %}">
                {{ item.title }}
              </a>
              {% for close in info.close %}
                </li></ul>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% else %}
          <p>{% trans "No families yet" %}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    {% leaflet_map "mymap" callback="window.map_init" %}
  </div>
</div>
