{% load i18n %}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {% for message in messages %}
    {{ message }}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% for image in element.element_image.all %}
  {% include "djeotree/htmx/image_detail.html" %}
{% empty %}
  <p>{% trans "No images yet" %}</p>
{% endfor %}
<a class="btn btn-primary"
  hx-get="{% url 'geotree:image_create' pk=element.id %}"
  hx-swap="outerHTML">
  {% trans 'Add image' %}
  <span class="htmx-indicator spinner-border spinner-border-sm"></span>
</a>
