{% load fb_versions %}
{% load i18n %}
{% load bootstrap5 %}

<div class="card mx-auto" style="margin-bottom: 20px">
  <div class="card-body">
    <form hx-post="{% url 'geotree:image_create' pk=element.id %}"
      hx-target="#image-loop"
      hx-encoding="multipart/form-data">
      {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit">
        {% trans "Save" %}
        <span class="htmx-indicator spinner-border spinner-border-sm"></span>
      </button>
      <button class="btn btn-secondary"
        hx-get="{% url 'geotree:image_loop' pk=element.id %}"
        hx-target="#image-loop">
        {% trans "Cancel" %}
        <span class="htmx-indicator spinner-border spinner-border-sm"></span>
      </button>
    </form>
  </div>
</div>
