{% load fb_versions %}
{% load i18n %}

<div id="image-{{ image.id }}" class="card mx-auto" style="margin-bottom: 20px">
  <img src="{% version image.fb_image 'big' %}" class="card-img-top" alt="{{ image.description }}">
  <div class="card-body">
    <p class="card-text">{{ image.description }}</p>
    <button class="btn btn-primary"
      hx-get="{% url 'geotree:image_change' pk=image.id %}"
      hx-target="#image-{{ image.id }}"
      hx-swap="outerHTML"
      title="{% trans 'Modify' %}">
      <i class="fa fa-pencil"></i>
      <span class="htmx-indicator spinner-border spinner-border-sm"></span>
    </button>
    <button class="btn btn-danger"
      hx-get="{% url 'geotree:image_delete' pk=image.id %}"
      hx-target="#image-{{ image.id }}"
      hx-swap="outerHTML"
      hx-confirm="{% trans 'Are you sure you want to delete this image?' %}"
      title="{% trans 'Delete' %}">
      <i class="fa fa-trash-o"></i>
      <span class="htmx-indicator spinner-border spinner-border-sm"></span>
    </button>
    {% if not forloop.first %}
      <button class="btn btn-secondary"
        hx-post="#"
        hx-target="#image-loop"
        hx-swap="outerHTML"
        title="{% trans 'Move up' %}">
        <i class="fa fa-arrow-up"></i>
        <span class="htmx-indicator spinner-border spinner-border-sm"></span>
      </button>
    {% endif %}
    {% if not forloop.last %}
      <button class="btn btn-secondary"
        hx-post="#"
        hx-target="#image-loop"
        hx-swap="outerHTML"
        title="{% trans 'Move down' %}">
        <i class="fa fa-arrow-down"></i>
        <span class="htmx-indicator spinner-border spinner-border-sm"></span>
      </button>
    {% endif %}
  </div>
</div>
