{% extends "djeotree/base_form.html" %}
{% load bootstrap5 %}
{% load i18n %}

{% block content %}
  <div class="card mx-auto" style="max-width: 480px; margin-top: 60px">
    <div class="card-header">
      <h4 class="card-title">
        {% trans "Modify element"%}: {{ element }}
      </h4>
    </div>
    <div class="card-body">
      <form method="POST" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-primary" type="submit" value="{% trans 'Modify' %}" />
        <a class="btn btn-secondary" href="{% url 'geotree:element_detail' username=element.user.username pk=element.id %}">
          {% trans "Preview" %}
        </a>
        <a class="btn btn-danger"
          hx-get="{% url 'geotree:element_delete' username=element.user.username pk=element.id %}"
          hx-target="#content"
          hx-push-url="true">
          {% trans 'Delete' %}
        </a>
      </form>
    </div>
  </div>
  <div class="card mx-auto" style="max-width: 480px; margin-top: 20px">
    <div class="card-header">
      <h4>{% trans "Images"%}:</h4>
    </div>
    <div class="card-body">
      {% if element.element_image.all %}
        {% for image in element.element_image.all %}
          {% include "djeotree/htmx/image_detail.html" %}
        {% endfor %}
      {% else %}
        <p>{% trans "No images yet" %}</p>
      {% endif %}
      <a class="btn btn-primary"
        hx-get="{% url 'geotree:image_create' pk=element.id %}"
        hx-swap="beforebegin">
        {% trans 'Add image' %}
        <span class="htmx-indicator spinner-border spinner-border-sm"></span>
      </a>
    </div>
  </div>
  <div class="card mx-auto" style="max-width: 480px; margin-top: 20px">
    <div class="card-header">
      <h4>{% trans "Tags"%}:</h4>
    </div>
    <div class="card-body">
      {% if element.element_value.all %}
        {% for value in element.element_value.all %}
          {% include "djeotree/htmx/value_detail.html" %}
        {% endfor %}
      {% else %}
        <p>{% trans "No tags yet" %}</p>
      {% endif %}
      <a class="btn btn-primary"
        hx-get="{% url 'geotree:value_create' pk=element.id %}"
        hx-swap="beforebegin">
        {% trans 'Add tag value' %}
        <span class="htmx-indicator spinner-border spinner-border-sm"></span>
      </a>
    </div>
  </div>
{% endblock content %}
