{% load geojson_tags %}

<script type="text/javascript">
  function onEachFeature(feature, layer) {
    if (feature.properties && feature.properties.popupContent) {
      layer.bindPopup(feature.properties.popupContent.content, {minWidth: 256});
    }
  }

  function setLineStyle(feature) {
    return {"color": feature.properties.popupContent.color};
  }

  function map_init(map, options) {
    const base_map = L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      {
        attribution: '',
        maxZoom: 23,
      }).addTo(map);

    const sat_map = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}",
      {
        attribution: 'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 23,
        tileSize: 512,
        zoomOffset: -1,
        id: "mapbox/satellite-v9",
        accessToken: "{{ mapbox_token }}"
      });

    const baseMaps = {
      "Base": base_map,
      "Satellite": sat_map
    };

    L.control.layers(baseMaps).addTo(map);

    let collection = {{ elements|geojsonfeature:"popupContent"|safe }};
    let markers = L.geoJson(collection, {onEachFeature: onEachFeature});
    markers.addTo(map);
    map.fitBounds(markers.getBounds(), {padding: [50,50]});
    collection = {{ lines|geojsonfeature:"popupContent"|safe }};
    let lines = L.geoJson(collection, {style: setLineStyle, onEachFeature: onEachFeature});
    lines.addTo(map);
  }
</script>
