{% load geojson_tags %}

<script type="text/javascript">
  function onEachFeature(feature, layer) {
    if (feature.properties && feature.properties.popupContent) {
      layer.bindPopup(feature.properties.popupContent, {minWidth: 256});
    }
  }
  function map_init(map, options) {
    {% include "djeotree/includes/base_maps.html" %}

    let collection = {{ elements|geojsonfeature:"popupContent"|safe }};
    let markers = L.geoJson(collection, {onEachFeature: onEachFeature});
    markers.addTo(map);
    map.fitBounds(markers.getBounds(), {padding: [50,50]});
  }
</script>
