{% load leaflet_tags %}
{% load geojson_tags %}
{% load i18n %}
{% load static %}

{% if images %}
  {% include 'djeotree/includes/gallery.html' %}
{% else %}
  <p>{% trans "No images yet" %}</p>
{% endif %}
<div class="row" style="margin-top: 20px">
  <div class="col" style="margin-bottom: 20px">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          {% trans "Element"%}: {{ element }}
        </h4>
      </div>
      <div class="card-body">
        <p>{{ element.intro }}</p>
        <ul>
          <li>{% trans "Author"%}:
            <a href="{% url 'geotree:author_detail' username=author.username %}">
              {{ author.username }}
            </a>
          </li>
          <li>{% trans "Family"%}:
            <a href="{% url 'geotree:family_detail' pk=family.id %}">
              {{ family.title }}
            </a>
          </li>
          <li>
            <a href="{% url 'geotree:day_detail' year=element.date.year month=element.date.month day=element.date.day %}">
              {{ element.date|date:"Y M d"}}
            </a>
          </li>
        </ul>
        {% if element.element_value.all %}
          <h5>{% trans "Tags"%}:</h5>
          <ul>
            {% for value in element.element_value.all %}
              <li>
                <a href="{% url 'geotree:tag_detail' pk=value.tag.id %}">
                  {{ value.tag.title }}
                </a>: {{ value.value }}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>{% trans "No tags yet" %}</p>
        {% endif %}
      </div>
      {% if user == author %}
        <div class="card-footer">
          <a href="{% url 'geotree:element_update' username=author.username pk=element.id %}">{% trans "Modify" %}</a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" style="margin-bottom: 20px">
    {{ mapbox_token|json_script:"mapbox_token"}}
    <script id="marker_data" type="application/json">{{ element|geojsonfeature:"popupContent"|safe }}</script>
    <script src="{% static 'djeotree/js/element_detail.js'%}"></script>
    <div>
      {% leaflet_map "mymap" callback="window.map_init" %}
    </div>
  </div>
</div>
<div class="card" style="min-height: 600px">
  <div class="card-body">
    {{ element.body|safe }}
  </div>
</div>
