{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block extra-head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <style>
    .leaflet-container {  /* all maps */
      height: 600px;
      margin-bottom: 20px;
    }
  </style>
{% endblock extra-head %}

{% block menucont %}
  {% include 'navbar.html' %}
  <main class="flex-shrink-0">
    <div id="content" class="container">
      {% block content %}
        <p>Hello world!</p>
      {% endblock content %}
    </div>
  </main>
  {% include 'footer.html' %}
{% endblock menucont %}
